.BattlefieldTable {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.BattlefieldTable-Row {
  display: flex;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
}

.BattlefieldTable-Row + .BattlefieldTable-Row {
  border-top: none;
}

.BattlefieldTable-Cell {
  position: relative;
  border-left: 1px dotted #999;
  border-right: 1px dotted #999;
}

.BattlefieldTable_interactive_yes .BattlefieldTable-Cell {
  cursor: pointer;
}

.BattlefieldTable_size_s .BattlefieldTable-Cell {
  width: calc(1rem - 2px);
  height: calc(1rem - 2px);
}

.BattlefieldTable_size_m .BattlefieldTable-Cell {
  width: calc(1.5rem - 2px);
  height: calc(1.5rem - 2px);
}

.BattlefieldTable-Cell + .BattlefieldTable-Cell {
  border-left: none;
}

.BattlefieldTable_interactive_yes .BattlefieldTable-Cell_ship {
  cursor: default;
}

.BattlefieldTable-Cell_ship::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background-color: #e7d9ff;
  border: 3px solid #a672ff;
}

.BattlefieldTable_interactive_yes .BattlefieldTable-Cell_hit {
  cursor: default;
}

.BattlefieldTable-Cell_hit::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 0.1rem);
  right: calc(50% - 0.1rem);
  width: 0.2rem;
  height: 0.2rem;
  background-color: black;
}
